*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --f-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #9b5adf;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    scroll-behavior: smooth;
    line-height: 1.6;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}
.my-img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs);
}
strong{ 
    font-weight: var(--fw-bold)}
    :focus {
        outline: 3px solid var(--clr-accent);
        outline-offset: 3px; 
    }
    section {
        padding: 5em 2em;
    }

/* typography*/
h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}
h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}




/* Navigation */

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
.nav__list li a {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    color: var(--clr-dark);
}
.nav__link:hover {
    color: var(--clr-accent);
}

/* Intro Section*/
.intro{
    position: relative;
   
}
.section__title--intro{
    margin-bottom: .20rem;
    font-weight: var(--fw-reg);
}
.section__title--intro strong {
    display: block;
}
.section__subtitle--intro {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    height: 40%;
    align-items: center;
    padding: 2rem;
    padding-top: 10px;
    display: inline-block;
    box-shadow: var(--bs);
}


@media (min-width: 600px){
    .intro {
        display: grid;
        margin: 0 auto;
        width: min-content;
        grid-column: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .my-img {
        grid-area: img;
        min-width: 250px;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);

    }
}

/* Skills Section*/
.software-skills-div ul{
    display: flex;
    list-style: none;
}
.dev-icons{
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
.software-skill-inline > p {
    font-size: 10px;
  }



/* Projects Section */

.skills-title{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.project-title {
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
}
.repo-cards-div-main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
}
.repo-card-div {
    color: #131415;
    background-color: #fff;
    box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
    padding: 2rem;
    transition: all .3s ease;
}
.repo-left-stat span, .repo-name-div {
    display: flex;
    align-items: center;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}