*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --f-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #9b5adf;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0 10px 30px -15px rgb(0 0 0 / 20%);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    line-height: 1.6;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

strong{font-weight: var(--fw-bold)}
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px; 
    
}
section {
    padding: 5em 2em;
}    

/* typography*/
h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}
h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}


/* Navigation */

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: var(--bs);
}
.nav__list li a {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    color: var(--clr-dark);
}
.nav__link:hover {
    color: var(--clr-accent);
}

/* Intro Section*/

.intro{
    padding: 125px 125px 0 0;
    position: relative;
}
.my-img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs);
}
.section__title--intro{
    font-weight: var(--fw-reg);
}
.section__title--intro strong {
    display: block;
}
.section__subtitle--intro {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    align-content: flex-end;
    display: inline-block;
    box-shadow: var(--bs);
    height: 45px;
    padding: .25em 1em;
}


@media (min-width: 600px){
    .intro {
        padding-left: 1em;
        display: grid;
        margin: 0 auto;
        width: min-content;
        grid-column: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .my-img {
        grid-area: img;
        min-width: 250px;
        margin-right: 2em;
    }
    .section__title--intro{
        margin-top: 7rem;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
/* About Section*/
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    max-width: 100%;
}
.section__title--about{
    color: var(--clr-accent);
}
@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        grid-column: 1 / 1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
        padding-right: 10px;
    }
}

/* Skills*/

.skills-section{
   display: flex;
   align-items: center;
   justify-content: center;
}

.dev-icons{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    font-size: var(--fs-h1);
    gap: 15px;
    margin: 0;
}

.software-skill-inline {
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
.software-skill-inline > p {
    font-size: 10px;
}

/* Projects Section */
.projects-section {
    width: 90%;
    padding: 20px 10px;
    margin: 4rem auto 0;
}
.title {
    font-size: 45px;
    font-weight: var(--fw-bold);
    line-height: normal;
    display: flex;
    justify-content: center;
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
}
.repo-cards-div-main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
}
.repo-card-div {
    color: #131415;
    background-color: #fff;
    box-shadow: var(--bs);
    padding: 2rem;
    transition: all .3s ease;
}
.repo-left-stat span, .repo-name-div {
    display: flex;
    align-items: center;
}

/* Footer / Socials */
footer {
    font-size: var(--fs-h2);
    align-items: center;
}
.social-media-div {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}
.social-item {
    margin: 0 .5em;
}
.social-item i {
    color: black; 
    
}